
/* animation for the pageloader*/

.page-loader{
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.page-loader.is-hidden{
    visibility: hidden;
    opacity: 0;
}

.loader-line span{
    animation: loading 1s ease-in-out infinite alternate;
}

@keyframes loading{
    to{
        transform: translateX(125%);
    }
}